server:
  port: 8181

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive

  data:
    redis:
      host: localhost
      port: 6379

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          httpclient:
            connect-timeout: 1000
            response-timeout: 5s

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,gateway,circuitbreakers
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}

logging:
  level:
    org.springframework.cloud.gateway: INFO
    vn.tt.practice.apigateway: DEBUG
    io.github.resilience4j: INFO

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
    instances:
      userServiceCircuitBreaker: { baseConfig: default }
      productServiceCircuitBreaker: { baseConfig: default }
      cartServiceCircuitBreaker: { baseConfig: default }
      orderServiceCircuitBreaker: { baseConfig: default }
      inventoryServiceCircuitBreaker: { baseConfig: default }
      paymentServiceCircuitBreaker: { baseConfig: default }
      warrantyServiceCircuitBreaker: { baseConfig: default }
      recommendationServiceCircuitBreaker: { baseConfig: default }
  timelimiter:
    configs:
      default:
        timeoutDuration: 3s
