server:
  port: 8181

spring:
  application:
    name: api-gateway
  data:
    redis:
      host: redis
      port: 6379

eureka:
  instance:
    hostname: api-gateway
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

jwt:
  secret: ${JWT_SECRET} # Must be provided in env
