server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgresql:5432/ai_agent
    username: ai_agent
    password: 123
  jpa:
    hibernate:
      ddl-auto: validate

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
