spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5433/ai_agent
    username: ai_agent
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
jwt:
  secret: my-super-secret-key-which-is-at-least-32-bytes!!
  access-token-expiration: 900000
  refresh-token-expiration: 604800000
